.bottom {
  display:block;
    position:fixed;
    bottom:0;
    right:0;
    width:100%;
    background:#000;
    border:0px solid #000;
}

p.small {
  line-height: 1.3;
}

a.fontPop:hover, a.fontPop:active {
    font-size: 120%;
}
