 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><font color="#18bc9c">About</font></h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, My name is Wes Kaminer. I have a Bachelor of Science in Mobile Development from Full Sail University. During my time at Full Sail, I developed and worked on small projects that include:</p>
                    <ul>
                        <li><b>Mobile Web Apps</b></li>
                        <li><b>Native Android Applications</b></li>
                        <li><b>Native iOS (iPhone) Applications</b></li>
                        <li><b>Mobile Game Development (iPhone)</b></li>
                    </ul> 
                </div>
                <div class="col-lg-4">
                    <p>My Skills include:</p>
                    <ul>
                        <li><b>iOS</b> ➜ xCode, Objective-C, Swift </li>

                        <li><b>Android</b> ➜ 
                            Android Studios, 
                            <del>Eclipse</del>, 
                            intelliJ, 
                            Java</a></li>

                        <li><b>JavaScript</b> ➜ 
                            OOP Scripting Language, 
                            JSON (JS Object Notation)</li>

                        <li><b>APIs(application program interface)</b> ➜ 
                            Data manipulation</li>    

                        <li><b>Mobile User Experience</b> ➜ (iPhone, Android)</li>
                        <li><b>Mobile User Interface Design</b> ➜ (iPhone, Android)</li>   

                        <li><b>Git</b> ➜ 
                            Version control/source code management(SCM)</li>
                    </ul>
                </div>
                <br>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                    <p><del><font color="#999">Don't </font></deL><font color="#18bc9c">create something that</font> <del><font color="#999">already exists, unless your vision</font></del> <font color="#18bc9c">is greater than the last.</font></p>
                </div>
            </div>
        </div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" align="center">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="39MSVLHCX4MN6">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="0" height="0">
            </form>
    </section>