    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name"><font color="#18bc9c">{{ site.title }}</font></span>
                        
                        <span class="skills">iOS Developer - UI Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>